@charset "UTF-8";
@import "../common/css/common.scss";
@import "../common/css/breadcrumb.scss";
@import "../common/css/pagenation.scss";

.maker_h1 {
  @include main_h1;
  &::before {
    content: "\f47d";
  }
}

.maker_list {
  a.card { height: calc(100% - 1rem);}
  h4 {
    background-color: $KeyColor1;
    color: $White;
    font-size: 1.25rem;
    padding: .25rem;
  }
  .maker_description {
    overflow: hidden;
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }
}

@media screen and (max-width: 767.98px) {
    .maker_description {
      height: 4.5rem;
      p { -webkit-line-clamp: 3;}
    }
}

@media screen and (max-width: 991.98px) {
    .maker_description {
      height: 7.5rem;
      p { -webkit-line-clamp: 5;}
    }
}

@media screen and (max-width: 1199.98px) {
    .maker_description {
      height: 6rem;
      p { -webkit-line-clamp: 4;}
    }
}

@media screen and (min-width: 1200px) {
    .maker_description {
      height: 9rem;
      p { -webkit-line-clamp: 6;}
    }
}
