@charset "UTF-8";
@import "../common/css/common.scss";
@import "../common/css/breadcrumb.scss";

.medical_h1 {
  @include main_h1;
  &::before {
    content: "\f7e6";
  }
}

.medical_toc {
  .list-group-item {
    padding: .5rem 1rem;
  }
}

.medical_guide_main {
  section {
    a {text-decoration: underline;}
    h2 {
      border-bottom: solid 2px $MainNavy;
      font-size: 1.8rem;
      margin-bottom: 1.6rem;
      padding: .4rem 0 .4rem 2.4rem;
      position: relative;
      &::before,&::after {
        content: "";
        display: block;
        position: absolute;
      }
      &::before {
        border: solid 2px $MainNavy;
        height: 1.4rem;
        width: 1.4rem;
        top: .6rem;
        left: .5rem;
        z-index: 2;
      }
      &::after {
        border: solid 2px $MainGreen;
        height: 1.2rem;
        width: 1.2rem;
        top: 1.2rem;
        left: 0;
        z-index: 1;
      }
      +.btn_green {
        position: absolute;
        top: .6rem;
        right: 0;
      }
    }

    h3 {
      border-bottom: solid 2px $MainNavy;
      font-size: 1.4rem;
      margin-bottom: 1.2rem;
      padding: .25rem 2rem;
      position: relative;
      &::before,&::after {
        content: "";
        display: block;
        position: absolute;
      }
      &::before {
        border: solid 2px $MainNavy;
        height: 1rem;
        width: 1rem;
        top: .4rem;
        left: .5rem;
        z-index: 2;
      }
      &::after {
        border: solid 2px $MainGreen;
        height: .8rem;
        width: .8rem;
        top: .9rem;
        left: .2rem;
        z-index: 1;
      }
      +.btn_green {
        position: absolute;
        top: -.2rem;
        right: 0;
      }
    }
    h4 {
      border-left: solid 4px $MainNavy;
      font-size: 1.25rem;
      padding-left: .25rem;
    }
    span {
      color: $TextRed;
      font-weight: bold;
    }

    .bibliography {
      background-color: lighten($MainNavy, 78%);
      border-radius: .4rem;
      clear: both;
      margin-bottom: 1.5rem;
      padding: 1rem;
      h5 {
        border-left: solid 4px $MainNavy;
        font-size: 1rem;
        font-weight: bold;
        padding-left: .25rem;
      }
      dl {
        margin-bottom: 0;
        dd:last-child { margin-bottom: 0;}
      }
    }
    .inner_link {
      padding: 1rem;
      background-color: lighten($MainNavy, 78%);
      border-radius: .4rem;
      text-decoration: none;
    }

  } // /section
}

@media screen and (max-width: 767.98px) {
  .section_eyecatch { width: 50%;}
}

@media screen and (min-width: 768px) {
  .medical_toc > .list-group {
    position: sticky;
    top: $BaseMargin * 1.5;
    z-index: 5;
    max-height: 75vh;
    overflow-y: scroll;
  }
  .section_eyecatch { width: 33.3333%;}
}

@media screen and (min-width: 992px) {
  .section_eyecatch { width: 25%;}
  
}