@charset "UTF-8";
@import "../common/css/common.scss";
@import "../common/css/breadcrumb.scss";

.history_h1 {
  @include main_h1;
  &::before {
    content: "\f1da";
  }
}


.order_card {
  margin-bottom: $BaseMargin*.75;
  header h2 {
    font-size: 1rem;
  }
  .card-body {
    border-bottom: solid 1px $BorderLightGrey;
    &:last-child {
      background-color: lighten($MainNavy, 78%);
      border-bottom: none;
      dl {
        dt {
          font-weight: normal;
          &:last-child {
            font-size: 1.2rem;
            font-weight: bold;
          }
        }
        dd {
          &:last-child {
            margin-bottom: 0;
            font-size: 1.2rem;
            font-weight: bold !important;
          }
        }
      }
    }
    .item_row {
      [class*=col-] {
        &:last-child {
          background-color: lighten($MainNavy, 78%);
          padding: .25rem;
        }
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  .order_card {
    .card-body {
      padding-left: .5rem;
      padding-right: .5rem;
    }
  }
}