@charset "UTF-8";

$MainColor: #212529;
$MainHover: #0EA53C;
$MainLink: #00d;
$KeyColor1: #d00000;
$KeyColorTr8: rgba(208,0,0,.8);
$KeyColor2: #e0e0e0;
$KeyColor2Tr8: rgba(224, 224, 224,.8);
$HeadHover: rgba(255,255,255,.3);
$BorderLightGrey: #bbb;
$White: #FFF;
$TextRed: #dc3545;
$ColorFacebook: #3B5998;
$ColorTwitter: #1DA1F2;
$ColorInstagram1: #427eff;
$ColorInstagram2: #f13f79;
$ColorInstagram3: #ffdb2c;
$ColorInstagram4: rgb(249, 118, 76);
$ColorInstagram5: rgba(255, 77, 64, 0);