@charset "UTF-8";

$MainColor: #212529;
$MainHover: #0EA53C;
$MainLink: #039;
$MainNavy: #001862;
$MainNavyTr8: rgba(0,24,98,.8);
$MainGreen: #8EC31F;
$MainGreenTr8: rgba(142, 195, 31,.8);
$HeadHover: rgba(255,255,255,.3);
$BorderLightGrey: #e4e4e4;
$White: #FFF;
$TextRed: #dc3545;