@charset "UTF-8";
.navbar_main {
  background-color: $MainNavy;
  position: sticky;
  top: 0;
  z-index: 20;
}
.globalnav_cart {
  position: relative;
  .cart_num {
    left: .25rem;
    padding: .1rem .25rem;
    position: absolute;
    top: -.25rem;
  }
}
.form_sitesearch {
  .btn {
    background-color: $MainGreen;
    border: $MainGreen;
    color: $White;
  }
}

.categorynav_scroll_x {
  margin-left: -15px;
  margin-right: -15px;
  overflow-x: scroll;
  &::-webkit-scrollbar { display: none;}
  .nav {
    flex-wrap: nowrap;
    a { white-space: nowrap;}
  }
}

@media screen and (max-width:575.98px) {
  .site_logo { max-width: 48%;}
}
@media screen and (max-width:767.98px) {
  .menu_login {
    .btn {
      display: block;
      width: 100%;
    }
  }
}

@media screen and (min-width:768px) and (max-width: 991.98px) {
  .menu_login {
    text-align: center;
    .btn {
      display: inline-block;
      width: 40%;
      margin: 0 .5rem;
    }
  }
}
@media screen and (max-width: 991.98px) {
  .main_header {
    h1,p { font-size: .7rem;}
  }
  .navbar_main {
    .site_logo { padding: 0;}
  }
  .icon_nav {
    flex-direction: row;
    .navbar-item { margin-left: 1.2rem;}
  }
}
@media screen and (min-width: 992px) {
  .main_header {
    h1,p { font-size: .8rem;}
  }
  .navbar_main {
    .site_logo {
      img { max-height: $BaseMargin *.6;}
    }
  }
  .globalnav {
    font-size: small;
    li {
      &:hover { background-color: $HeadHover;}
    }
    .active { background-color: $HeadHover;}
  }
  .globalnav_dropdown_menu {
    max-height: 70vh;
    overflow-y: auto;
  }
}
