@charset "UTF-8";
.main_header {
  h1, p { line-height: 1;}
}
.navbar_main {
  background-color: $MainNavy;
  position: sticky;
  top: 0;
  z-index: 20;
}

.globalnav_dropdown_menu {
  .btn-group.w-100 {
    button {
      background: none;
      border: none;
      color: $MainGreen;
      &:hover { cursor: pointer;}
    }
  }
  .submenu {
    border: solid 1px $BorderLightGrey;
    border-radius: .25rem;
    font-size: .9rem;
    margin: 0 .75rem .5rem;
  }
}

.globalnav_cart {
  position: relative;
  .cart_num {
    left: .25rem;
    padding: .1rem .25rem;
    position: absolute;
    top: -.25rem;
  }
}
.form_sitesearch {
  .btn {
    background-color: $MainGreen;
    border: $MainGreen;
    color: $White;
  }
}

.icon_nav {
  .drop-hover:hover + .dropdown-menu,
  .dropdown-menu:hover, .dropdown-menu.show {
    display: block !important;
    left: auto;
    right: 0;
    position: absolute;
  }
}

@media screen and (max-width:575.98px) {
  .site_logo { max-width: 48%;}
}

@media screen and (max-width: 991.98px) {
  .main_header {
    h1, p { font-size: .7rem;}
  }
  .navbar-toggler { border: solid 2px $HeadHover !important;}
  .navbar_main {
    .site_logo { padding: 0;}
  }
  .drop-hover:hover + .dropdown-menu,
  .dropdown-menu:hover { display: block !important;}
  .icon_nav {
    flex-direction: row;
    .navbar-item { margin-left: 1.2rem;}
  }
}
@media screen and (min-width: 992px) {
  .main_header {
    h1, p { font-size: .8rem;}
  }
  .navbar_main {
    .site_logo {
      img { max-height: $BaseMargin *.6;}
    }
  }
  .globalnav {
    font-size: small;
    li {
      &:hover { background-color: $HeadHover;}
    }
    .active { background-color: $HeadHover;}
  }
  .drop-hover:hover + .dropdown-menu,
  .dropdown-menu:hover { display: block !important;}

  .globalnav_dropdown_menu {
    max-height: 70vh;
    overflow-y: auto;
  }
}
