.pagination_wrap {
  padding-top: 1.5rem;
  .pagination {
    border-radius: .25rem;
    li {
      a {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: $MainLink;
        background-color: #fff;
        border: 1px solid #dee2e6;
      }
      &:first-of-type {
        a { border-radius: .25rem 0 0 .25rem;}
      }
      &:last-of-type {
        a {border-radius: 0 0.25rem 0.25rem 0;}
      }
    }
    li.current a {
        z-index: 1;
        color: #fff;
        background-color: $MainNavy;
        border-color: $MainNavy;
    }
  }
}